@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style ="background-color:antiquewhite" class="display-4">Welcome</h1>
    <h1 style ="background-color:antiquewhite" class="display-4">@DateTime.UtcNow</h1>
</div>
